<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráficos</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="/js/graficos.js"></script>
</head>
<body>
    <h1>Gráficos</h1>
    <a href="/temperatura" class="btn-link">
        <button type="button" id="temperaturaButton">Temperatura</button>
    </a>
    <label for="chartType">Selecione o tipo de gráfico:</label>
    <select id="chartType" onchange="drawSelectedChart()">
        <option value="line">Gráfico de Linhas</option>
        <option value="bar">Gráfico de Barras</option>
        <option value="gauge">Gráfico de Gauge</option>
    </select>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
</body>
</html>