<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de Temperatura</title>
    <link rel="stylesheet" href="css/stylesHome.css">
</head>
<body>
    <header class="main-header">
        <h1>Bem-vindo à Consulta de Temperatura</h1>
    </header>

    <section class="hero">
        <div class="hero-content">
            <div class="hero-text">
                <h2>Descubra a temperatura da sua região agora!</h2>
                <p>Obtenha informações precisas e atualizadas sobre a temperatura ambiente para planejar seu dia com confiança.</p>
                <a href="/login" class="btn-link">
                    <button type="button" class="btn" id="fazerLogin">Fazer Login</button>
                </a>
                <p class="signup-link">Não possui uma conta? <a href="/cadastro" id="cadastrar">Cadastre-se</a></p>
            </div>
            <div class="hero-images">
                <img src="/imagens/imagem4.avif">
            </div>
        </div>
    </section>

    <footer class="main-footer">
        <p>&copy; 2024 Projeto-Leitura-Temperatura. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
